<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <p><%= task.title %></p>
      <p><%= task.description %></p>
      <p><%= task.created_at %></p>
      <%= button_to 'Delete', task_path(task), data: {:confirm => 'Are you sure?'}, :method => :delete %>
      <%= button_to 'Edit', edit_task_path(task), :method => :get %>
    </li>

  <% end %>
</ul>
<hr>
<hr>
<hr>
<%= button_to "New Task", { :action => "new" }, :method => :get %>
